.Blog ul {
    background-color: #ebc0c0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}
.Blog a:hover,
.Blog a:active, 
.Blog a.active{
    color: #744179;
    font-weight: bold;
}